<% provide(:title, @part.name) %>
  <div class="panel-body">
    <div class="row">
      <div class="BigImage col-sm-12">
       <%= image_tag @partimages.first.pimg.url(:large), :class => "BigImg", :title => @part.name %>
      </div>
      <div class="SmallImages">
        <% @partimages.each do |image| %>
          <div class="col-xs-3 col-sm-2 col-md-1">
          <%= image_tag image.pimg.url(:thumb), :data => {:hover => image.pimg.url(:large)}, :class => "SmallImg thumbnail" %>
          </div>
        <% end %>
      </div>
    </div>
    <br>
    <% @partdescriptions.each do |description| %>
      <%= description.title %>:
      <%= description.value %>
      <br>
    <% end %>
  </div>
  <div class="panel-footer">
  </div>
