<h1>Smart Parts</h1>

<p>Hello <%= @user.name %>,</p>

<p>
This is a reminder to let you know a part is back in stock.
</p>

<p>Click the link to go the product page</p>
<%= link_to @part.name, part_url(part_id: @part.id) %>