@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.left {
  text-align: left !important;
}

/* typography */

h1, h2, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h4 {
  padding-left: 0px;
}

h3 {
  font-size: 0.9em;
  color: $gray-light;
  margin: 0px;
}

h5 {
  font-size: 1.2em;
  font-weight: bold;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.Title {
  font-size: 1.25em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 25%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.small-col {
  width: 17px !important;
}

.overview-tab {
  padding: 5px 15px;
  .glyphicon {
    margin-right: 5px;
  }
}

.overview-row {
  margin: 15px 0;
}

.overview-sub-row {
  margin: 0;
}

.overview-tab.thumbnail {
  margin: 0;
  padding: 0;
  padding-top: 9px;
  border: none;
  border-radius: 0;
}

.category-tab {
  position: relative;
  .caption {
    padding: 0;
  }
  .glyphicon {
    margin-top: 10px;
  }
}

.panel {
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
  //border-bottom: 2px solid darken(#FFF, 10%);
  box-shadow: none;
  background-color: #FFF !important;
}

.panel-heading {
  padding: 0;
  margin-bottom: 15px;
  color: #FFF;
  border: 0;
}

.panel-title {
  line-height: 40px;
  padding: 15px;
  font-weight: 300;
  font-size: 24px;
  margin: 0;
  color: #FFF;
}

.panel-body {
  padding: 15px 15px 10px 15px;
}

.panel-footer {
  border: 0;
  background-color: #FFF !important;
  .btn {
    margin-bottom: 5px;
  }
}

.panel-table {
  //padding-top: 15px;
  padding: 0 0 10px 0;
  .table {
    margin-bottom: 0;
  }
  .table > thead > tr > th {
    border-bottom-width: 1px;
    line-height: 33px;
    font-size: 16px;
    font-weight: 300;
  }
  .table > tbody > tr:first-child > td {
    border-top: 0;
  }
}

.panel-dual {
  padding: 0 15px;
}
.panel-dual > .row > .col-md-6 {
  padding: 0;
}

.panel-home {
  padding: 0;
}

.big {
  width: 100% !important;
}

.small {
  width: 160px !important;
  height: 34px;
  margin-bottom: 15px;
}

.mini {
  width: 2% !important;
}

.bigImage {
  padding-left: 0px !important;
}

.smallImgContainer {
  padding-top: 5px;
  padding-left: 0px;
  padding-right: 5px;
  position: relative;
  min-height: 1px;
  float: left;
}

.halfWidth {
  width: 50%;
}

.priceTable {
  width: 50% !important;
  float: right;
  margin-bottom: 15px !important;
}

.right {
  text-align: right !important;
}

.left {
  text-align: left !important
}
.noPadding {
  padding: 0px !important;
}

.paddingR20 {
  padding-right: 20px;
}

.table {
  margin-bottom: 0px;
}

.table > tbody > tr > td {
     vertical-align: middle;
}

.table > tfoot > tr > td {
     vertical-align: middle;
}

.borderless { 
     border-top: none !important; 
}

.table > thead > tr > th {
  line-height: 20px !important;
  font-size: 14px !important;
}

.container {
  width: 100% !important;
}

.removeLink > a {
    color: #333 !important;
    text-decoration: underline !important;
}

.borderGray {
  border: 1px #ddd solid;
}

.borderBlack {
  border: 1px #000 solid;
  margin-bottom: 15px;
}

.noBorder {
  border: 0px solid !important;
}

.bottomRight {
  position: absolute;
  bottom: 0;
  right: 2px;
}

.cursorDisabled {
  cursor: not-allowed !important;
}

.smallNumber {
  width: 75px !important;
  margin-bottom: 0px !important;
  margin-top: 20px !important;
  margin-left: 12px !important;
}

.btn-sm {
  font-size: 14px !important;
}

.red {
  color: red;
}

.green {
  color: green;
}

.white {
  color: white;
}

.orange {
  color: #FD7D26;
}

.font-size-40 {
  font-size: 40px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-9 {
  font-size: 9px;
}

.width2 {
  width: 2%;
}

.width5 {
  width: 5%;
}

.width10 {
  width: 10%;
}

.width12{
  width: 12%;
}

.width20 {
  width: 20%;
}

.width40 {
  width: 40%;
}

.width50 {
  width: 50%;
}

.width40px {
  width: 40px;
}

.width66px {
  width: 66px;
}

.width140px {
  width: 140px;
}

.width302px {
  width: 302px;
}

.width1351px {
  width: 1351px !important;
}

.height38px {
  height: 38px;
}

.maxWidth {
  width: 100%;
}

.maxHeight {
  height: 100%;
}

.min-width284px {
  min-width: 284px;
}

.max-width75px {
  max-width: 75px;
}

.max-width250px {
  max-width: 250px;
}

.min-height71px {
  min-height: 71px;
}

#coupon {
  float:right; 
  margin-right:15px; 
  width:auto; 
  text-align:center; 
  height:34px !important;
}

.inline {
  display: inline !important;
}

.block {
  display: block !important;
}

.inline-block {
  display: inline-block !important;
}

.bottom-none {
  margin-bottom: 0px;
}

.right-none {
  margin-right: 0px;
}

.top-none {
  margin-top: 0px !important;
}

.top-10 {
  margin-top: 10px;
}

.top-15 {
  margin-top: 15px;
}

.top-50 {
  margin-top: 50px;
}

.left-10 {
  margin-left: 10px;
}

.left-15 {
  margin-left: 15px;
}

.bottom-15 {
  margin-bottom: 15px;
}

.partMargin {
  margin: 15px -15px;
}

.padding5 {
  padding: 5px;
}

.padding-left15 {
  padding-left: 15px;
}

#device_select {
  width: 140px;
}

#brand_select {
  width: 140px;
}

#model_select {
  width: 140px;
}

#model_extended_select {
  width: 140px;
}

.list {
  max-width: 100%; 
  padding-left:15px;
}

.listItem {
  width: 50%;
  margin-left: 0%;
  float: left;
  list-style: disc;
}

.pagination {
  margin-bottom: 0px !important;
  margin-top: 10px !important;
}

.noTextDecoration {
  text-decoration: none;
}

.floatRight {
  float: right;
}

.modal .modal-body {
    max-height: 420px;
    overflow-y: auto;
}

.background {
    position: relative;
    z-index: 1;
    color: #757575;
    
    &:before {
        border-top: 1px solid #757575;
        content:"";
        margin: 0 auto; /* this centers the line to the full width specified */
        position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
        top: 50%; left: 0; right: 0; bottom: 0;
        width: 95%;
        z-index: -1;
    }
}

.header {
  background-image: url('/images/bluebackground.png');
  width: 100%; 
  min-width: 1351px; 
  height: 100px; 
  padding-left: 15px; 
  padding-right: 15px; 
  padding-top: 5px;
}

.menu {
  background-image: url('/images/orangebackground.png'); 
  background-position: center; 
  width: 100%; 
  min-width: 1351px; 
  height: 50px; 
  padding-left: 15px; 
  padding-right: 15px; 
  padding-top: 8px;
}

.headerDiv {
  width: 1321px; 
  height: 90px; 
  margin-left: auto; 
  margin-right: auto;
}

.logo {
  float: left; 
  width: 276px; 
  height: 90px;
}

.headerItems {
  float: left; 
  text-align: center;
  width: 1045px;
  height: 90px;
}

.itemAccount {
  float: left; 
  height: 90px; 
  width: 200px; 
  padding-top: 20px; 
  border-left: 2px solid #FF7400
}

.itemCart {
  float: left;
  height: 90px;
  width: 200px;
  padding-top: 20px;
  border-left: 2px solid #FF7400
}

.itemAdmin {
  float: left;
  height: 90px;
  width: 150px;
  padding-top: 20px;
  border-left: 2px solid #FF7400
}

.menuCenter {
  margin-left: auto; margin-right: auto; width: 933px;
}

.homeContainer {
  margin: 0 auto; 
  width: 1122px
}

.homeSide {
  height: 750px; 
  width: 220px; 
  float: left;
}

.homeMiddle {
  height: 100%; 
  margin-left: 10px; 
  margin-right: 10px; 
  width: 660px; 
  float: left;
}

.homeAction {
  height: 400px; 
  margin-bottom: 10px;
}

.homeRecommendations {
  height: 100%; 
  padding-bottom: 10px
}

.homeRecommendedList {
  list-style-type: none; 
  padding: 0px; 
  margin: 0px;
}

.homeImageContainer {
  margin-right: 10px; 
  height: 162px
}

.homePopulairList {
  list-style-type: decimal; 
  height: 100%
}

.homePopulairImage {
  width: 82%; 
  float: left
}

.partPadding {
  padding: 0px 15px 0px 15px;
}

.noListStyle {
  list-style-type: none;
}