@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h3 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 25%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.small-col {
  width: 17px;
}

.overview-tab {
  padding: 5px 15px;
  .glyphicon {
    margin-right: 5px;
  }
}

.overview-tab-0,
.overview-tab.success {
  background-color: lighten($brand-success, 30%);
}

.overview-tab-1,
.overview-tab.danger {
  background-color: lighten($brand-danger, 30%);
}

.overview-tab-2,
.overview-tab.warning {
  background-color: lighten($brand-warning, 30%);
}

.overview-tab-0:hover,
.overview-tab.success:hover {
  background-color: lighten($brand-success, 20%);
}

.overview-tab-1:hover,
.overview-tab.danger:hover {
  background-color: lighten($brand-danger, 20%);
}

.overview-tab-2:hover,
.overview-tab.warning:hover {
  background-color: lighten($brand-warning, 15%);
}

.overview-row {
  margin: 15px 0;
}

.overview-sub-row {
  margin: 0;
}

.overview-tab.thumbnail {
  margin: 0;
  padding: 0;
  padding-top: 9px;
  border: none;
  border-radius: 0;
}

.category-tab {
  position: relative;
  .caption {
    padding: 0;
  }
  .glyphicon {
    margin-top: 10px;
  }
}

.panel {
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
  //border-bottom: 2px solid darken(#FFF, 10%);
  box-shadow: none;
  background-color: #FFF !important;
}

.panel-heading {
  padding: 0;
  margin-bottom: 15px;
  color: #FFF;
  border: 0;
}

.panel-title {
  line-height: 40px;
  padding: 15px;
  font-weight: 300;
  font-size: 24px;
  margin: 0;
  color: #FFF;
}

.panel-body {
  padding: 15px 15px 10px 15px;
}

.panel-footer {
  border: 0;
  background-color: #FFF !important;
  .btn {
    margin-bottom: 5px;
    @media (max-width: 767px) {
      width: 100%;
    }
  }
}

.panel-table {
  //padding-top: 15px;
  padding: 0 0 10px 0;
  .table {
    margin-bottom: 0;
  }
  .table > thead > tr > th {
    border-bottom-width: 1px;
    line-height: 33px;
    font-size: 16px;
    font-weight: 300;
  }
  .table > tbody > tr:first-child > td {
    border-top: 0;
  }
}

.panel-dual {
  padding: 0 15px;
}
.panel-dual > .row > .col-md-6 {
  padding: 0;
}

.panel-home {
  padding: 0;
}

.big {
  width: 100% !important;
}

