<footer class="footer top-15">
	<div class="col-sm-10 col-sm-offset-1 noPadding">
		<small><p>
			Contact info:<br>
			Twentelaan 2<br>
			7609 RE Almelo<br>
			Netherlands<br>
			<a href="mailto:info@tvaservice.nl">info@tvaservice.nl</a><br>
			<a href="http://www.nohm.eu/shop">www.nohm.eu/shop</a><br>
			Tel: +31 546 851212
		</p></small>
	</div>
</footer>